In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from pulp import *
%matplotlib inline

In [2]:
fd_path=Path("Resources/Week_7/FD_Player_List_2020_10_25.csv")
rb_path=Path("Resources/Week_7/FantasyPros_2020_Week_7_RB_Rankings (1).csv")
qb_path=Path("Resources/Week_7/FantasyPros_2020_Week_7_QB_Rankings (1).csv")
wr_path=Path("Resources/Week_7/FantasyPros_2020_Week_7_WR_Rankings (1).csv")
te_path=Path("Resources/Week_7/FantasyPros_2020_Week_7_TE_Rankings (1).csv")
d_path=Path("Resources/Week_7/FantasyPros_2020_Week_7_DST_Rankings (1).csv")

players=pd.read_csv(fd_path, index_col="Nickname")
rb=pd.read_csv(rb_path,index_col="PLAYER NAME")
qb=pd.read_csv(qb_path,index_col="PLAYER NAME")
wr=pd.read_csv(wr_path,index_col="PLAYER NAME")
te=pd.read_csv(te_path,index_col="PLAYER NAME")
d=pd.read_csv(d_path,index_col="PLAYER NAME")

fp_players=pd.concat([rb, qb,wr,te,d],axis="rows",join="inner")
#players["Proj"]=""
#all_data=pd.merge(players,fp_players["PROJ. FPTS"])
#all_data.head()
proj=pd.DataFrame(fp_players["PROJ. FPTS"])
players=players.join(proj)
players["Nickname"]=players.index
#players["PROJ. FPTS"]
#players=players.pd.Index.set_names(names="Nickname")
players.head()

,Id,Position,First Name,Last Name,FPPG,Played,Salary,Game,Team,Opponent,Injury Indicator,Injury Details,Tier,Include,PROJ. FPTS,Nickname
A.J. Brown,51091-72846,WR,A.J.,Brown,14.733334,3,6800,PIT@TEN,TEN,PIT,Q,NaN,NaN,NaN,14.6,A.J. Brown
A.J. Green,51091-14187,WR,A.J.,Green,5.416667,6,5600,CLE@CIN,CIN,CLE,NaN,NaN,NaN,NaN,8.0,A.J. Green
A.J. Richardson,51091-54186,WR,A.J.,Richardson,0.000000,1,4500,SEA@ARI,ARI,SEA,NaN,NaN,NaN,NaN,NaN,A.J. Richardson
AJ Dillon,51091-93107,RB,AJ,Dillon,1.625000,4,4500,GB@HOU,GB,HOU,NaN,NaN,NaN,NaN,1.9,AJ Dillon
AJ McCarron,51091-31047,QB,AJ,McCarron,8.950000,2,6000,GB@HOU,HOU,GB,NaN,NaN,NaN,NaN,NaN,AJ McCarron

In [3]:
players_filtered=players[players["Injury Indicator"].isnull()]
players_filtered=players_filtered[players_filtered["PROJ. FPTS"].notnull()]
#players_filtered.dropna(axis=0,how="all",subset=["PROJ. FPTS"])
players_filtered.head()

,Id,Position,First Name,Last Name,FPPG,Played,Salary,Game,Team,Opponent,Injury Indicator,Injury Details,Tier,Include,PROJ. FPTS,Nickname
A.J. Green,51091-14187,WR,A.J.,Green,5.416667,6,5600,CLE@CIN,CIN,CLE,NaN,NaN,NaN,NaN,8.0,A.J. Green
AJ Dillon,51091-93107,RB,AJ,Dillon,1.625000,4,4500,GB@HOU,GB,HOU,NaN,NaN,NaN,NaN,1.9,AJ Dillon
Aaron Rodgers,51091-6894,QB,Aaron,Rodgers,21.872000,5,8100,GB@HOU,GB,HOU,NaN,NaN,NaN,NaN,21.1,Aaron Rodgers
Adam Humphries,51091-24671,WR,Adam,Humphries,10.625000,4,5000,PIT@TEN,TEN,PIT,NaN,NaN,NaN,NaN,6.9,Adam Humphries
Adam Trautman,51091-130270,TE,Adam,Trautman,2.450000,2,4200,CAR@NO,NO,CAR,NaN,NaN,NaN,NaN,1.9,Adam Trautman

In [4]:
#Initial constraints
budget=60000

In [5]:
#Choose whether to use FPPG or Projected Points
pt="PROJ. FPTS"

play=players_filtered[["Position","Nickname","Salary",pt]]
play.head()

               Position        Nickname  Salary  PROJ. FPTS
A.J. Green           WR      A.J. Green    5600         8.0
AJ Dillon            RB       AJ Dillon    4500         1.9
Aaron Rodgers        QB   Aaron Rodgers    8100        21.1
Adam Humphries       WR  Adam Humphries    5000         6.9
Adam Trautman        TE   Adam Trautman    4200         1.9

In [6]:
salaries={}
points={}
for pos in play["Position"].unique():
    available_pos=play[play["Position"]==pos]
    salary=list(available_pos[["Nickname","Salary"]].set_index("Nickname").to_dict().values())[0]
    point=list(available_pos[["Nickname",pt]].set_index("Nickname").to_dict().values())[0]
    salaries[pos]=salary
    points[pos]=point
    
pos_constraints_max={
    "QB":1,
    "RB":3,
    "WR":4,
    "TE":2,
    "FLEX":1,
    "D": 1
    
}

pos_constraints_min={
    "QB":1,
    "RB":2,
    "WR":3,
    "TE":1,
    "FLEX":1,
    "D": 1
    
}


pos_flex={
     "QB":0,
    "RB":1,
    "WR":1,
    "TE":1,
    "FLEX":0,
    "D": 0
}

pos_flex_available= 5

In [7]:
salaries["D"]

{'Arizona Cardinals': 3800,
 'Atlanta Falcons': 3500,
 'Buffalo Bills': 5000,
 'Carolina Panthers': 3200,
 'Cincinnati Bengals': 3600,
 'Cleveland Browns': 4700,
 'Dallas Cowboys': 3700,
 'Denver Broncos': 3900,
 'Detroit Lions': 3400,
 'Green Bay Packers': 4000,
 'Houston Texans': 3500,
 'Jacksonville Jaguars': 3300,
 'Kansas City Chiefs': 4600,
 'Los Angeles Chargers': 4500,
 'New England Patriots': 4800,
 'New Orleans Saints': 4000,
 'New York Jets': 3000,
 'Pittsburgh Steelers': 4300,
 'San Francisco 49ers': 4400,
 'Seattle Seahawks': 4100,
 'Tennessee Titans': 4200,
 'Washington Football Team': 3800}

In [8]:
budget=60000

_vars={k: LpVariable.dict(k,v,cat="Binary") for k, v in points.items()}

prob=LpProblem("Fantasy", LpMaximize)
rewards=[]
costs=[]
position_constraints=[]

#Setting up reward

for k, v in _vars.items():
    costs+=lpSum([salaries[k][i]*_vars[k][i] for i in v])
    rewards+=lpSum([points[k][i]*_vars[k][i] for i in v])
    prob+=lpSum([_vars[k][i] for i in v])<=pos_constraints_max[k]
    prob+=lpSum([_vars[k][i] for i in v])>=pos_constraints_min[k]
    prob+=lpSum([pos_flex[k]*_vars[k][i] for i in v])<=pos_flex_available
    
prob+=lpSum(rewards)
prob+=lpSum(costs)<=budget
prob.solve()

1

In [9]:

def summary(prob):
    div = '---------------------------------------\n'
    print("Variables:\n")
    score = str(prob.objective)
    constraints = [str(const) for const in prob.constraints.values()]
    for v in prob.variables():
        score = score.replace(v.name, str(v.varValue))
        constraints = [const.replace(v.name, str(v.varValue)) for const in constraints]
        if v.varValue != 0:
            print(v.name, "=", v.varValue)
    print(div)
    print("Constraints:")
    for constraint in constraints:
        constraint_pretty = " + ".join(re.findall("[0-9\.]*\*1.0", constraint))
        if constraint_pretty != "":
            print("{} = {}".format(constraint_pretty, eval(constraint_pretty)))
    print(div)
    print("Score:")
    score_pretty = " + ".join(re.findall("[0-9\.]+\*1.0", score))
    print("{} = {}".format(score_pretty, eval(score)))
    

summary(prob)

Variables:

D_New_York_Jets = 1.0
QB_Russell_Wilson = 1.0
RB_James_Conner = 1.0
RB_James_Robinson = 1.0
RB_Mike_Davis = 1.0
TE_T.J._Hockenson = 1.0
WR_Kenny_Golladay = 1.0
WR_Stefon_Diggs = 1.0
WR_Tyler_Boyd = 1.0
---------------------------------------

Constraints:
3000*1.0 + 8700*1.0 + 7200*1.0 + 6400*1.0 + 7700*1.0 + 5900*1.0 + 7600*1.0 + 7500*1.0 + 6000*1.0 = 60000.0
---------------------------------------

Score:
5.7*1.0 + 23.3*1.0 + 16.8*1.0 + 15.3*1.0 + 17.3*1.0 + 11.1*1.0 + 15.4*1.0 + 15.4*1.0 + 12.3*1.0 = 132.6