In [1]:
# Import the pathlib and csv library
from pathlib import Path
import csv
import pandas as pd

In [2]:
#Setting the different CSV paths
data_2015_path = Path("../Resources/Historic_Data/fanduel_salary_production/NFL-HistoricalProduction_2015.csv")
data_2016_path = Path("../Resources/Historic_Data/fanduel_salary_production/NFL-HistoricalProduction_2016.csv")
data_2017_path = Path("../Resources/Historic_Data/fanduel_salary_production/NFL-HistoricalProduction_2017.csv")
data_2018_path = Path("../Resources/Historic_Data/fanduel_salary_production/NFL-HistoricalProduction_2018.csv")
data_2019_path = Path("../Resources/Historic_Data/fanduel_salary_production/NFL-HistoricalProduction_2019.csv")
data_2020_path = Path("../Resources/Historic_Data/fanduel_salary_production/NFL-HistoricalProduction_2020.csv")

In [3]:
#Reading in the CSV into into seperate dataframes
df_1 = pd.read_csv(data_2015_path)
df_2 = pd.read_csv(data_2016_path)
df_3 = pd.read_csv(data_2017_path)
df_4 = pd.read_csv(data_2018_path)
df_5 = pd.read_csv(data_2019_path)
df_6 = pd.read_csv(data_2020_path)

In [4]:
#Appending a column "Year" for each dataframe
df_1['Year'] = 2015

df_2['Year'] = 2016

df_3['Year'] = 2017

df_4['Year'] = 2018

df_5['Year'] = 2019

df_6['Year'] = 2020

In [5]:
#Concating all dataframes into one 
combined_df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6], axis='rows', join='inner')
combined_df.set_index('Year')

,P,Player,Week,Team,Opp,Opp Position Rank,FDSal,DKSal,FD Points,DK Points
Year,,,,,,,,,,
2015,RB,David Johnson,15,ARI,PHI,20,6500,5700,42.9,48.0
2015,RB,Devonta Freeman,3,ATL,DAL,10,6500,4600,39.8,45.0
2015,WR,AJ Green,3,CIN,BAL,29,8000,7200,39.7,48.0
2015,RB,Thomas Rawls,11,SEA,SF,26,5600,3800,39.0,44.0
2015,WR,Antonio Brown,15,PIT,DEN,1,8800,8700,38.9,50.0
...,...,...,...,...,...,...,...,...,...,...
2020,TE,Chris Herndon,8,NYJ,KC,14,4400,2900,-1.2,0.3
2020,RB,Benny Snell Jr.,2,PIT,DEN,9,4600,4500,-1.4,0.1
2020,WR,DeAndre Carter,4,HOU,MIN,29,4500,3000,-2.0,-1.0
2020,WR,Dede Westbrook,7,JAX,LAC,12,4500,3000,-2.0,-1.0
2020,WR,Dante Pettis,8,SF,SEA,32,4500,3000,-2.0,-1.0

In [6]:
#Drop Columns
combined_df.drop(['DKSal','DK Points'], axis = 1, inplace=True)
combined_df.tail()

,P,Player,Week,Team,Opp,Opp Position Rank,FDSal,FD Points,Year
3471,TE,Chris Herndon,8,NYJ,KC,14,4400,-1.2,2020
3472,RB,Benny Snell Jr.,2,PIT,DEN,9,4600,-1.4,2020
3473,WR,DeAndre Carter,4,HOU,MIN,29,4500,-2.0,2020
3474,WR,Dede Westbrook,7,JAX,LAC,12,4500,-2.0,2020
3475,WR,Dante Pettis,8,SF,SEA,32,4500,-2.0,2020